module.exports = {
  title: "Power control",
  link: "/",
  auth: { '': '' },
  realm: 'Pilvilinna',
  relays: [
    {
      url: "/roof/open",
      type: "button",
      title: "Katto auki",
      action: "AVAA"
    },
    {
      url: "/roof/close",
      type: "button",
      title: "Katto kiinni",
      action: "SULJE"
    },
    {
      url: "/roof/stop",
      type: "button",
      title: "Katto seis",
      description: "Pysäyttää kattomoottorin",
      action: "SEIS"
    },
    {
      pins: 5,
      type: "NO",
      title: "Kattomoottori",
      description: "Kattomoottorin virta päälle/pois",
      hide: true
    },
    {
      pins: 6,
      type: "NO",
      title: "Suunta",
      description: "Kattomoottorin pyörityssuunta. ON = auki, OFF = kiinni",
      hide: true
    },
    {
      pins: 13,
      type: "NO",
      title: "Rajakytkimen ohitus (katto kiinni)",
      description: "Ohittaa katon rajakytkimen katon ollessa kiinni.",
      hide: true
    },
    {
      pins: 16,
      type: "NO",
      title: "Rajakytkimen ohitus (katto auki)",
      description: "Ohittaa katon rajakytkimen katon ollessa auki.",
      hide: true
    },
    {
      pins: 19,
      type: "NO",
      title: "IR-valaistus",
      description: "Observatorion IR-valot"
    },
    {
      pins: 20,
      type: "NO",
      title: "Flattikalvot",
      description: "Observatorion flattikalvot"
    }
  ]
}
